{% extends 'tech_store/base.html' %}
{% block title %}Корзина — Tech Store{% endblock %}
{% block content %}
    <h2>Корзина</h2>

    {% if order and order.items.all %}
        <div class="cart-list">
            {% for item in order.items.all %}
                <div class="cart-item">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                        <div class="image-placeholder cart-thumb"></div>
                    {% endif %}
                    <div class="cart-info">
                        <h3>{{ item.product.name }}</h3>
                        <p>Количество: {{ item.quantity }}</p>
                        <p>Цена за штуку: {{ item.price }} ₸</p>
                        <p><strong>Всего: {{ item.get_total }} ₸</strong></p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="cart-total">
            <h3>Итого к оплате: {{ order.get_total }} ₸</h3>
            <button class="catalog-btn"><i class="fa-solid fa-credit-card"></i> Оформить заказ</button>
        </div>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}
