{% extends 'tech_store/base.html' %}
{% block title %}{% if category %}{{ category.name }}{% elif search_query %}Результаты поиска: {{ search_query }}{% else %}Каталог — Tech Store{% endif %}{% endblock %}
{% block content %}
    <a href="{% url 'catalog' %}" class="catalog-btn">Каталог товаров</a>
    {% include 'tech_store/includes/_search_form.html' with search_query=search_query %}

    <div class="categories-list">
        {% for cat in categories %}
            <a href="{% url 'category-detail' cat.slug %}" class="category-btn {% if category and cat.id == category.id %}active{% endif %}">
                {{ cat.name }}
            </a>
        {% endfor %}
    </div>

    {% if category %}
        <h2>{{ category.name }}</h2>
    {% elif search_query %}
        <h2>Результаты поиска: "{{ search_query }}"</h2>
    {% else %}
        <h2>Все товары</h2>
    {% endif %}

    <div class="products-grid">
        {% for product in products %}
            {% include 'tech_store/includes/_product_card.html' with product=product %}
        {% endfor %}

        {% for _ in placeholders %}
            <div class="product-card placeholder">
                <div class="image-placeholder"></div>
                <h3>Название товара</h3>
                <p>Цена</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

