{% extends 'tech_store/base.html' %}
{% block title %}Tech Store{% endblock %}
{% block content %}
    <a href="{% url 'catalog' %}" class="catalog-btn">Каталог товаров</a>

    <div class="products-grid">
        {% for product in products %}
            {% include 'tech_store/includes/_product_card.html' with product=product %}
        {% endfor %}

        {% for _ in placeholders %}
            <div class="product-card placeholder">
                <div class="image-placeholder"></div>
                <div class="product-info">
                    <h3>Название товара</h3>
                    <p>Цена</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
