{% extends 'tech_store/base.html' %}
{% block title %}{{ action }} товар{% endblock %}
{% block content %}
    <header class="manage-header">
        <div><a href="{% url 'manage_products' %}">Назад к списку</a></div>
    </header>
    <main class="manage-main" style="max-width:900px">
        <h2>{{ action }} товар</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div style="margin-top:12px">
                <button type="submit">{{ action }}</button>
            </div>
        </form>
    </main>
{% endblock %}